.navbar-default {
  border-bottom: 1px solid #FFFFFF; }
  .navbar-default .logo {
    width: 20%;
    margin-top: 7px;
    margin-left: 60px; }
  .navbar-default p {
    float: right;
    color: #635A58;
    margin-top: 16px;
    margin-left: -45px;
    font-size: 15px; }

.navbar-nav {
  margin-left: 500px; }
  .navbar-nav a {
    font-size: 12px;
    color: #635A58; }

.bg-primary {
  background-color: #F0F0F1; }
  .bg-primary .logo {
    width: 20%;
    margin-top: 20px;
    margin-left: 60px; }
  .bg-primary ul {
    color: #8E8EA1;
    margin-left: 120px;
    margin-top: 20px;
    list-style-type: none; }
    .bg-primary ul li {
      font-size: 11px; }
  .bg-primary i {
    color: #969696;
    margin-left: 20px;
    margin-top: 20px; }

* {
  font-size: Raleway; }

body {
  margin: 0; }

#home .fondo {
  background-size: cover;
  margin-top: -20px; }
  #home .fondo h1 {
    margin: 20vh auto;
    font-family: Raleway;
    padding: 60px 0;
    color: white;
    font-weight: bold; }
  #home .fondo p {
    margin-top: -180px;
    margin-left: 100px;
    font-family: Raleway;
    width: 80%;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px; }
#home .fondo-fixed {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center; }
#home .fondo-1 {
  background-image: url(../images/back-lock.jpg); }
#home .modulo-alto {
  padding: 1em;
  min-height: 100vh;
  text-align: center; }

#txt-ind {
  margin-top: 150px;
  margin-bottom: 150px; }
  #txt-ind h1, #txt-ind h6, #txt-ind p, #txt-ind .iconooo {
    margin-left: 80px; }
  #txt-ind h1 {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid #222222;
    margin-top: 40px; }
  #txt-ind #prrf {
    margin-top: 70px; }
  #txt-ind h6 {
    font-size: 15px;
    font-weight: bold;
    margin-top: 40px;
    color: #726866; }
  #txt-ind p {
    width: 70%;
    font-size: 13px;
    color: #8E8EA1; }
  #txt-ind .iconooo {
    padding-top: 40px;
    font-size: 50px;
    color: #969696; }

#my-title .fondo {
  background-size: cover;
  margin-top: -20px; }
#my-title .fondo-2 {
  background-image: url(../images/bg3.jpg); }
#my-title .fondo-fixed {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center; }
#my-title .fondo-1 {
  background-image: url(../images/back-lock.jpg); }
#my-title .modulo-alto {
  padding: 1em;
  min-height: 100vh;
  text-align: center; }
#my-title h1 {
  color: #FFFFFF;
  font-size: 30px;
  margin-top: 170px;
  text-align: left;
  margin-left: 70px; }
#my-title video {
  margin-top: -100px;
  margin-left: 30px; }
#my-title p {
  color: #FFFFFF;
  text-align: left;
  width: 80%;
  margin-left: 70px;
  margin-top: 20px; }

#me-define {
  margin-top: 100px;
  margin-bottom: 100px; }
  #me-define h2 {
    font-size: 20px;
    font-weight: bold;
    color: #222222; }
  #me-define .member {
    width: 100%; }
    #me-define .member:hover {
      opacity: 0.5; }
  #me-define h6, #me-define h5, #me-define p {
    margin-left: 30px; }
  #me-define h6 {
    color: #222222;
    font-size: 15px;
    margin-top: 45px; }
  #me-define h5 {
    color: #726866;
    font-size: 13px; }
  #me-define p {
    color: #8E8EA1;
    font-size: 12px;
    margin-top: 35px;
    width: 70%; }
  #me-define a {
    color: #9C9C9C;
    text-decoration: none; }
    #me-define a i {
      margin-left: 25px;
      padding-left: 5px; }
  #me-define .no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0; }

#contact {
  margin-top: 100px;
  margin-bottom: 100px; }
  #contact h1 {
    font-size: 20px;
    border-bottom: 1px solid #222222; }
  #contact .form-control {
    margin-top: 20px; }
  #contact button {
    margin-top: 20px;
    padding: 5px 40px;
    background-color: #222222;
    border: 1px solid #222222;
    font-size: 18px; }
  #contact p {
    color: #635A58;
    font-size: 14px; }
  #contact h2 {
    color: #666666;
    font-weight: bold;
    font-size: 15px;
    margin-left: 20px; }
  #contact h3 {
    margin-left: 20px;
    font-size: 15px;
    color: #666666;
    font-weight: bold;
    float: left; }
  #contact ul {
    margin-left: -165px;
    margin-top: 55px;
    list-style-type: none; }
    #contact ul li {
      font-size: 12px;
      color: #635A58; }
  #contact h5 {
    margin-left: 20px;
    color: #635A58;
    font-size: 12px; }
    #contact h5 span {
      color: #666666;
      font-weight: bold;
      font-size: 14px; }
  #contact a {
    color: #969696;
    text-decoration: none; }
    #contact a .r-s {
      margin-left: 20px;
      padding-left: 1px; }
  #contact .redes {
    margin-left: 30px;
    margin-right: -10px; }
  #contact .panel-default {
    border: 1px solid #FFFFFF; }
  #contact .panel-heading {
    background-color: #FFFFFF; }
    #contact .panel-heading .abajo {
      border: 1px solid #222222;
      background-color: #222222;
      padding: 0 5px;
      color: #FFFFFF; }
    #contact .panel-heading a {
      text-decoration: none;
      color: #666666;
      font-weight: bold;
      font-size: 15px; }
  #contact .panel-body {
    color: #8E8EA1;
    font-size: 12px; }

/*# sourceMappingURL=main.css.map */
