$font: Raleway;
$color-grey: #AAAAAB;
$white: #FFFFFF;
$light-blue: #BCC8D0;
$black: #222222;
$text-grey: #8E8EA1;
$title-grey: #726866;
$icon-color: #969696;
$text-grey-1: #635A58;
$red-social-color: #9C9C9C;
$title-color: #666666;
$icon-color-1: #787879;
$darken-grey: #323232;
$grey-blue: #6B6D7F;
$letra-gris: #8D8184;